.calculator-container {
    padding: 1em;
    border: 5px solid #666666;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px #66666694;
}

.display {
    height: 80px;
    font-size: 2em;
    border: 3px solid #e68a00;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    margin-bottom: 20px;
}

#last-operation {
    height: 30px;
    font-size: 0.6em;
    text-align: end;
    opacity: 0.5;
}

button {
    background-color: #666666;
    border-radius: 50%;
    border: 1px solid #333333;
    font-size: 27px;
    font-weight: bold;
    color: white;
    height: 60px;
    width: 60px;
    margin: 3px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #b1b0b0;
    cursor: pointer;
}

button:active {
    transform: scale(0.8);
}

.operator {
    background-color: #e68a00;
}
.operator:hover {
    background-color: #fdc775;
}

.attribution {
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}
.attribution a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


